html
  head
    title='Zensar DevOps COE'
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron.text-center
        h1 Hey Zensarians!!!
        h2 The Implementation Breakthrough
        h3 Continuous Deployment, Microservices, and Containers
        br
        br
        p Click the button below...
        br
        p 
          a.btn.btn-primary(href="//www.zensar.com/") Zensar
        p
